---
import Layout from "../layouts/Layout.astro";
import ScrollTopButton from "../components/ScrollTopButton.astro";
import Intro from "../components/Intro.astro"
import Education from "../components/Education.astro"
import Degree from "../icons/Degree.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Briefcase from "../icons/Briefcase.astro";
import Building from "../icons/Building.astro";
import Certificade from "../icons/Certif.astro";
import Skill from "../icons/Skills.astro";
import AboutMeIcon from "../icons/AboutMe.astro";
import AboutMe from "../components/AboutMe.astro";
import Certification from "../components/Certification.astro";
import Skills from "@/components/Skills.astro";
---

<Layout title="Porfolio CisthoferRG - Desarrollador y Programador Web"
	description=" Contrata a Cristhofer para desarrollar tu aplicación web o móvil."	
>
	<main class="p-5">
		<section class="w-full mx-auto lg:w-[740px] py-40 pb-20" id="inicio">
			<Intro>
				<slot />
			</Intro>
		</section>
		<!--Sección de Educación -->
		<section class="w-full mx-auto lg:w-[740px]" id="educacion">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
				<Degree class="size-6" />
				Educación
			</h2>
			<Education/>
		</section>
		<!--Sección de Experiencia -->
		<section class="w-full mx-auto lg:w-[740px]" id="experiencia">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
				<Briefcase class="size-6" />
				Experiencia Laboral
			</h2>
			<Experience />
		</section>
		<!--Sección de Proyectos -->
		<section class="w-full mx-auto lg:w-[740px]" id="proyectos">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
			<Building class="size-6" />
				Proyectos
			</h2>
			 <Projects />
		</section>
		<section class="w-full mx-auto lg:w-[740px] mt-6" id="Certificaciones">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
				<Certificade class="size-6" />
				Certificaciones
			</h2>
			 <Certification /> 
		</section>
		<section class="w-full mx-auto lg:w-[740px] mt-3" id="skills">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
			<Skill class="size-6" /> 
				Habilidades
			</h2>
			<Skills />
		</section>
		<section class="w-full mx-auto lg:w-[740px] mt-6" id="sobre-mi">
			<h2 class="text-2xl font-semibold mb-4 flex gap-x-2 items-center">
			<AboutMeIcon class="size-6" /> 
				Sobre mí.
			</h2>
			<AboutMe/>
		</section>
	<ScrollTopButton id="inicio" />
	</main>
</Layout>