<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  
  <!-- Imagen primero en pantallas grandes -->
  <img class="order-1 object-cover w-64 h-full p-1 -rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    src="/CRG.webp" 
    alt="Cristhofer RG" 
    style="object-position: 50% 50%"
  >

 <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2">
    <p>
      Me llamo Cristhofer Rivera Gómez, persona proactiva y enfocada. 
      Los estudios me han permitido adquirir habilidades y conocimientos en áreas como <strong>el 
      desarrollo de software, análisis de sistemas, consultoría de TI, seguridad informática 
      y gestión de proyectos. </strong>

    <p>
      Mis proyectos están basados en el desarrollo web utizilando bases de datos y diferentes frameworks. Actualmente estoy desarrollando un sitio web
      sobre <strong> de las cinco zonas azules del mundo, que es Nicoya, lugar que me vio nacer.</strong>
      Mantengo continúo aprendizaje practicando y desarrollando mis habilidades.
    </p>
  </div>
</article>




