<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#3B82F6_0%,#1E3A8A_50%,#3B82F6_100%)] dark:bg-[conic-gradient(from_90deg_at_50%_50%,#a7f995_0%,#359e8a_50%,#56ff31_100%)]"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-700 bg-stone-100 rounded-full cursor-pointer dark:bg-slate-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
