---
import Instagram from "../icons/Instagram.astro"
import Contact from "../icons/Contact.astro"
import Email from "../icons/Email.astro"
import Whats from "../icons/Whats.astro"
import GitH from "../icons/GitHub.astro"
---

<footer id="footer" class="rounded-lg shadow bg-black/20 backdrop-blur-lg w-full lg:max-w-[830px] mx-auto ">
  <div class="p-4 flex justify-between">
    <span class="text-xs sm:text-sm text-neutral-700 dark:text-amber-200/80 sm:text-center">© 2024 
      <a href="https://linkedin.com/in/cristhofer-riverag92/" target="_blank" rel="noopener noreferrer external"
        class="hover:underline text-sm sm:text-lg font-bold text-teal-950/90 dark:text-slate-300">CristhoferRG</a>.
    </span>

    <section class="flex">
      <!-- Botón de Contacto con mejoras de accesibilidad -->
      <button id="contacto" class="cursor-pointer items-center flex 2xl:hidden " 
              aria-expanded="false" 
              aria-haspopup="true" 
              aria-controls="contactLinks">
        <Contact aria-hidden="true" />
        <span class="sr-only">Abrir contactos</span> Contacto
      </button>

      <!-- Lista de enlaces de contacto -->
      <ul id="contactLinks" class="flex hidden items-center space-x-3 font-medium absolute animate-slide-in" role="menu">
        <li role="menuitem">
          <a href="mailto:cristhofer.rg06@gmail.com">
            <Email aria-hidden="true"/>
            <span class="sr-only">Correo</span>
          </a>
        </li>
        <li role="menuitem">
          <a href="tel:+60865218">
            <Whats aria-hidden="true"/>
            <span class="sr-only">WhatsApp</span>
          </a>
        </li>
        <li role="menuitem">
          <a href="https://www.instagram.com/cristhoferrg06" target="_blank" rel="noopener noreferrer external">
            <Instagram aria-hidden="true" class="size-5"/>
            <span class="sr-only">Instagram</span>
          </a>
        </li>
        <li role="menuitem">
          <a href="https://www.github.com/Crisfertho/" target="_blank" rel="noopener noreferrer external">
            <GitH aria-hidden="true" class="size-5"/>
            <span class="sr-only">GitHub</span>
          </a>
        </li>
      </ul>
    </section>
  </div>
</footer>


<script>
  // Esperar a que el DOM esté completamente cargado
  document.addEventListener('DOMContentLoaded', function () {
    function toggleContactLinks() {
      const contactLinks = document.getElementById("contactLinks");

      if (contactLinks) { // Verificar que el elemento existe
        const isHidden = contactLinks.classList.contains("hidden");

        // Alternar la clase hidden para mostrar u ocultar los enlaces
        if (isHidden) {
          contactLinks.classList.remove("hidden");
          contactLinks.classList.add("animate-slide-in");
        } else {
          contactLinks.classList.add("hidden");
          contactLinks.classList.remove("animate-slide-in");
        }
      }
    }

    // Asociar la función al botón
    const contactoButton = document.getElementById("contacto");
    if (contactoButton) {
      contactoButton.addEventListener("click", toggleContactLinks);
    }
  });

</script>

<style>
  @keyframes slideIn {
    from {
      transform: translateX(-500%);
    }
    to {
      transform: translateX(-105%);
    }
  }

  .animate-slide-in {
    animation: slideIn 0.5s ease-out forwards;
  }
</style>
