---
import Instagram from "../icons/Instagram.astro"
import Contact from "../icons/Contact.astro"
import Email from "../icons/Email.astro"
import Whats from "../icons/Whats.astro"
import GitH from "../icons/GitHub.astro"
---

<footer id="footer" class="rounded-lg shadow bg-black/20 backdrop-blur-lg w-full lg:max-w-[850px] mx-auto">
  <div class="w-full mx-auto max-w-screen-lg p-4 sm:flex md:items-center justify-between">
    <span class="text-sm text-neutral-700 dark:text-amber-200/80 sm:text-center">© 2024 
      <a href="https://linkedin.com/in/cristhofer-riverag92/" target="_blank" rel="noopener noreferrer"
        class="hover:underline text-lg font-bold text-teal-950/90 dark:text-slate-300">CristhoferRG</a>.
    </span>

    <div class="flex">
    <!-- Botón de Contacto -->
    <button id="contacto" class="cursor-pointer flex items-center" aria-expanded="false" onclick="toggleContactLinks()">
      <!-- Icono de Contacto -->
      <Contact class="text-lg font-bold text-slate-700/90 dark:text-slate-300 mr-2" /> Contacto
    </button>

    <!-- Enlaces de Contacto adicionales ocultos inicialmente -->
    <ul id="contactLinks" class="flex flex-row items-center space-x-4 text-sm font-medium text-white/90 hidden absolute animate-slide-in">
      <li>
        <a href="mailto:cristhofer.rg06@gmail.com" class="hover:underline text-lg font-bold text-slate-700/90 dark:text-slate-300">
          <Email />
        </a>
      </li>
      <li>
        <a href="tel:+60865218" class="hover:underline text-lg font-bold text-slate-700/90 dark:text-slate-300">
          <Whats />
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/cristhoferrg06" 
        target="_blank"
        rel="noopener noreferrer"
        class="hover:underline text-lg font-bold text-slate-700/90 dark:text-slate-300">
          <Instagram class="size-5"/>
        </a>
      </li>
      <li>
        <a href="Https://www.github.com/Crisfertho/" 
        target="_blank"
        rel="noopener noreferrer"
        class="hover:underline text-lg font-bold text-slate-700/90 dark:text-slate-300">
          <GitH class="size-5"/>
        </a>
      </li>
    </ul>
  </div>
  </div>
</footer>

<script>
  // Esperar a que el DOM esté completamente cargado
  document.addEventListener('DOMContentLoaded', function () {
    function toggleContactLinks() {
      const contactLinks = document.getElementById("contactLinks");

      if (contactLinks) { // Verificar que el elemento existe
        const isHidden = contactLinks.classList.contains("hidden");

        // Alternar la clase hidden para mostrar u ocultar los enlaces
        if (isHidden) {
          contactLinks.classList.remove("hidden");
          contactLinks.classList.add("animate-slide-in");
        } else {
          contactLinks.classList.add("hidden");
          contactLinks.classList.remove("animate-slide-in");
        }
      }
    }

    // Asociar la función al botón
    const contactoButton = document.getElementById("contacto");
    if (contactoButton) {
      contactoButton.addEventListener("click", toggleContactLinks);
    }
  });
</script>

<style>
  @keyframes slideIn {
    from {
      transform: translateX(-700%);
    }
    to {
      transform: translateX(-128%);
    }
  }

  @media (max-width: 640px) {
    @keyframes slideIn {
      from {
        transform: translateX(300%);
      }
      to {
        transform: translateX(90%);
      }
    }
  }

  .animate-slide-in {
    animation: slideIn 0.5s ease-out forwards;
  }
</style>
